<body>
    <div class="container">
        <div class="title">
            <h1>Emily is turning 30!</h1>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col">
                    <img src="https://media.giphy.com/media/pWO49XP9L7TxbgQVib/giphy.gif" class="circle-image">
                </div>
                <div class="col">
                    <h2>Remember remember the 5th of November... because it's my party!! </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Join me to celebrate with drinks, music, cake and dancing! </h2>
                </div>
                <div class="col">
                    <img src="https://londonspubswherehistoryreallyhappened.files.wordpress.com/2018/04/market-porter.jpg" class="circle-image">
                </div>
            </div>
             <div class="row">
                <div class="col">
                    <img src="https://media.giphy.com/media/W8EYItkYHt8gU/giphy.gif" class="circle-image">
                </div>
                <div class="col">
                    <h2>Location: The Market Porter, Borough Market

                    5th November
                    5pm - 11pm </h2>
                </div>
            </div>
            <div class="rsvp">
                <a href="/reply" class="rsvp_btn">Let me know if you can come!</a>
            </div>
            <div class="rsvp">
                <a href="https://open.spotify.com/playlist/22RASpFFxkEdRs3dTaianv?si=5a393870f98a4fb8" class="rsvp_btn">Add songs to the playlist!</a>
            </div>
        </div>
    </div>

</body>
